@import '_variables.scss';

html,body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  height: 100% !important;
  background-color: var(--secondary-bg) !important;
}

#app-wrapper {
  height: 100%;
  width: 100%;
  padding-top: 58px;
}
