@import '_variables.scss';

.left-bar > li {
  a {
    color: var(--secondary-bg-text) !important;
  }
  a.active {
    font-weight: bold;
    color: var(--main-inverse-bg) !important;
  }
  a:hover {
    color: var(--main-inverse-bg) !important;
  }
  .nav-link > svg {
    margin-right: 10px;
    color: var(--third-bg);
  }
}

.top-bar-arrow {
  svg {
    color: var(--main-bg) !important;
    margin-right: 5px;
  }
  font-size: 1.25em;
  color: #0982b9 !important;
  padding-left: 0 !important;

  &:hover {
    color: var(--main-inverse-bg) !important;
    margin-left: -10px !important;
  }
}