@import '_variables.scss';

.login-form {
  border-radius: 0 !important;
  background-color: var(--secondary-bg) !important;
}

.login-tabs a {
  background-color: var(--secondary-bg) !important;
  color: var(--secondary-bg-text);
  opacity: 0.5;
  border-radius: 0 !important;

  &.active {
    opacity: 1;
    border-color: var(--secondary-bg) !important;
  }

  &:hover:not(.active) {
    opacity: 1 !important;
    background-color: var(--secondary-bg) !important;
    border-color: var(--secondary-bg) !important;
    cursor: pointer;
  }
}

.login-link {
  color: var(--main-bg) !important;
  &:hover {
    color: var(--main-inverse-bg) !important;
  }
}