@import '_variables.scss';

a.navbar-brand {
  color: var(--main-bg-text) !important;
  background-color: var(--third-bg);
  padding: 20px 21px;
  margin-right: 0;
  height: 100%;
}

#header {
  padding: 0;
  background-color: var(--main-bg) !important;
  border-radius: 0;

  .collapse.navbar-collapse {
    padding-left: 0;
  }

  .nav-link {
    padding: 21px 16px;
    color: white;
    font-size: 1.1em;
    transition: all 0.1s !important;
  }

  .nav-link:hover {
    color: var(--third-bg-text);
    background-color: var(--third-bg) !important;
  }

}