@import '_variables.scss';

.btn {
  border-radius: 0 !important;
  background-color: var(--main-inverse-bg) !important;
  color: var(--main-inverse-text) !important;
  border-color: var(--main-inverse-bg) !important;
  &:focus {
    box-shadow: none !important;
  }
  &:hover {
    background-color: var(--third-bg) !important;
  }
}
svg {
  color: var(--main-bg-text);
}
input {
  &:focus {
    border-color: var(--main-inverse-bg) !important;
    color: var(--main-bg);
    background-color: #fff !important;
    +label {
      color: var(--main-inverse-bg) !important;
    }
  }
}
