:root {
  --main-bg: #4f5f8e;
  --main-inverse-bg: #56b8f1;
  --main-bg-text: #fff;
  --main-inverse-text: #fff;

  --secondary-bg: #e1ecfc;
  --secondary-inverse-bg: #3498db;
  --secondary-bg-text: #394a6f;
  --secondary-inverse-text: #fff;

  --third-bg: #5e9bbf;
  --third-bg-text: #fff;
}
